h1,h2,h3,h4,h5,h6,a,html,li,ul{
    font-family: poppins;
}

*{
    padding: 0px;
    margin: 0px;
    }
    
    .nav-wrap .nav-item-wrap{
        list-style: none;
    }
    
    #main-header{
        display: flex;
        align-items: center;
        justify-content:space-between;
        padding: 0px 40px;
        min-height: 80px;
        border-bottom: 0.2px solid #727272;
    }
    
    .website-main-nav .nav-wrap{
        display: flex;
        gap: 40px;
        width: 60%;
    }
    
    .logo-wrapper #logo img{
        width: 150px;
        margin-right: 40px;
    }
    
    .main-login-wrap li{
        list-style: none;
    }
    
    .main-login-wrap{
        display: flex;
        gap: 20px;
        margin-left: 40px;
    }
    
    .header-cta-button,.header-cta-button a{
        all: unset;
    }
    
    .header-cta-button a{
        background-color: #0055ff;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
    }

    .main-meta-for-blog .author-info{
       display: flex;
       justify-content: center;
       gap: 05px;     
    }

    .mainblog-content .blog-title{
        margin-bottom: 20px;
        font-size: 32px;
    }

    .breadcrumbs-blog {
        padding: 10px;
        margin-top: 50px;
    }

    .breadcrumbs-blog h4{
        font-weight: 400;
    }

    .main-image-container img{
        width: 70%;
        height: 500px;
        object-fit: cover;
        object-position: center;
        margin-top: 40px;
    }

    .nav-container .main-container{
        display: flex;
        gap: 80px;
        align-items: center;
    }

    .mobile-menu-open, .mobile-menu-close {
        display: none;
    }

    @media screen and (max-width:756px) {
        .nav-wrapper{
            position: fixed;
            background: white;
            width: 100%;
            left: 0px;
            top: 80px;
            height: 100vh;
            overflow: scroll;
            display: none;
        }

        .nav-container .main-container,.website-main-nav .nav-wrap{
            flex-direction: column;
        }

        .nav-container .main-container{
            padding: 40px;
            align-items: baseline;
        }

        .nav-wrap .nav-item-wrap{
            font-size: 20px;
        }

        #main-header .login-container{
            width: 100%;
            font-size: 20px;
        }

        .main-login-wrap{
            margin: 0px;
        }

        .logo-wrapper #logo img{
            margin: 0px;
            width: 150px;
        }

        #main-header{
            padding: 0px 20px;
        }

        .mobile-menu-open img, .mobile-menu-close img {
            width:  50px;
        }

        .mobile-menu-open[aria-hidden = "true"], .mobile-menu-close[aria-hidden = "true"]{
            display: none;
        }
        .mobile-menu-open[aria-hidden = "false"],  .mobile-menu-close[aria-hidden = "false"]{
            display: block;
        }

        .mobile-menu-show{
            display: flex;
        }

        .mobile-menu-hide{
            display: none;
        }

        .main-image-container img{
            height: 250px;
            width: 80%;
        }

        .mainblog-content .blog-title{
            font-size: 24px;
        }

        .mainblog-content{
            padding: 0px 20px 20px 20px;
        }

       
    }

    #post-content.post-single-content h2,#post-content.post-single-content h3,#post-content.post-single-content h4,#post-content.post-single-content h5,#post-content.post-single-content h6, #post-content.post-single-content li,#post-content.post-single-content ul{
        text-align: left;
        margin: 20px 0px;
    }

    #post-content.post-single-content p {
        text-align: left;
        font-weight: 400;
    }

    #post-content.post-single-content {
        margin: 40px;
        width: 60%;
    }

    #post-content.post-single-content h2{
        font-size: 2rem;
        font-weight: 500;
    }

    #post-content.post-single-content h3{
        font-size: 1.8rem;
        font-weight: 500;
    }

    #post-content.post-single-content li,#post-content.post-single-content ul{
        margin: 20px;
    }

    #post-content.post-single-content a{
        all: unset;
        color: blue;
        font-weight: 400;
        cursor: pointer;
    }

    #post-content.post-single-content p{
        line-height: 2em;
        font-size: 1rem;
    }

    .blog-post-content .main-content-wrapper{
        display: flex;
        justify-content: center;
    }